<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhitu.sq.dataset.mapper.DataSetMapper" >
 <resultMap id="BaseResultMap" type="zhitu.sq.dataset.model.DataSet" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="typeId" property="typeId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="projectId" property="projectId" jdbcType="VARCHAR" />
    <result column="dataTable" property="dataTable" jdbcType="VARCHAR" />
    <result column="rdbId" property="rdbId" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findByName" resultType="java.util.Map">
   SELECT d.id, d.`name`, d.`describe` AS dateDesc, d.typeId, f.`describe` AS typeDesc, d.createTime
	FROM zt_sys_dataset d
	LEFT JOIN zt_sys_dataset_local_file f ON f.typeId = d.typeId
	where d.userId = #{userId}
	<if test="name!=null and name!=''">
		and d.`name` like concat(concat('%',#{name}),'%')
	</if>
	ORDER BY d.createTime DESC
  </select>
</mapper>