<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhitu.sq.dataset.mapper.GraphMapper">
	<resultMap id="BaseResultMap" type="zhitu.sq.dataset.model.Graph">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>



	<select id="queryAllGraph" parameterType="java.util.Map"
		resultType="zhitu.sq.dataset.model.Graph">
		SELECT *
		FROM zt_sys_graph
		WHERE 1=1
		<if test=" name != null and name != ''">
			AND name LIKE '%${name}%'
		</if>
	</select>

	<insert id="insertGraph" parameterType="java.util.Map">
		INSERT INTO zt_sys_graph
		VALUES(#{id},NOW(),#{name},#{description})
	</insert>

	<!-- 修改圖譜 -->
	<update id="editGraph" parameterType="zhitu.sq.dataset.model.Graph">
		UPDATE zt_sys_graph
		<set>
			<if test="name != null and name != ''">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			id = #{id,jdbcType=VARCHAR}
		</set>
		WHERE id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 删除圖譜 
	<update id="deleteGraph" parameterType="java.lang.String">
		DELETE FROM zt_sys_graph
		WHERE id IN ( ${ids} )
	</update>-->
	<delete id="deleteGraph" parameterType="java.util.List">
		delete from zt_sys_graph where id in
		<foreach collection="ids" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
	</delete>
	
	<select id="queryTableFilter" parameterType="java.lang.String"
		resultType="zhitu.sq.dataset.controller.vo.Select">
		SELECT ${code} AS `code`, ${name} AS `name`
		FROM ${table}
		WHERE 代码级次 = 1
		<if test="name!=null and name!=''">
			AND ${name} != #{code}
		</if>
	</select>

	<select id="queryLowerLevelTableFilter" parameterType="java.lang.String"
		resultType="zhitu.sq.dataset.controller.vo.Select">
		SELECT ${code} AS `code`, ${name} AS `name`
		FROM ${table}
		WHERE 上级代码 = #{codeValue}
	</select>
	
	<select id="queryNodeDetails" parameterType="java.util.Map"
		resultType="zhitu.sq.dataset.controller.vo.NodeDetail">
		SELECT 指标金额,已申请金额,在途调减金额,在途调增金额,指标增加金额,指标追减金额,
			指标调剂金额,指标调剂调入金额,指标调剂调出金额,可用指标金额,指标核销金额,指标剩余金额,指标冻结金额
		FROM 基础表_预算管理数据_分析单位指标明细表
		WHERE 指标剩余金额 > 0
	</select>

</mapper>