<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhitu.sq.dataset.mapper.ProjectMapper">
	<resultMap id="BaseResultMap" type="zhitu.sq.dataset.model.Project">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
	</resultMap>

	
	
</mapper>