<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhitu.sq.dataset.mapper.SequentialMapper">



	<select id="queryAnalysisSelect" resultType="zhitu.sq.dataset.controller.vo.Select">
		SELECT `value` AS
		`name`,`key` AS `code`
		FROM
		zt_sys_dict
		WHERE `code` = 'analysisType'
	</select>

	<select id="querySelectOne" resultType="zhitu.sq.dataset.controller.vo.Select">
		SELECT `value` AS
		`name`,`key` AS `code`
		FROM
		zt_sys_dict
		WHERE `code` = 'basicsTable' AND
		parentValue = '0'
	</select>

	<select id="querySelectTwo" parameterType="java.util.Map"
		resultType="zhitu.sq.dataset.controller.vo.Select">
		SELECT `value` AS
		`name`,`key` AS `code`
		FROM
		zt_sys_dict
		WHERE `code` = 'nodeColumn' AND parentValue = #{key}
	</select>

	<select id="queryRootSinglePoint" resultType="java.lang.String">
		SELECT `value`
		FROM
		zt_sys_dict
		WHERE code = 'rootSinglePoint'
	</select>

	<select id="queryBasicsTableName" parameterType="java.lang.String" resultType="zhitu.sq.dataset.controller.vo.TableMoney">
		SELECT `value` AS
		`name`,`key` AS `code`
		FROM
		zt_sys_dict
		WHERE `code` = 'nodeColumnTable' AND
		`key` IN ( ${tableCodes} )
	</select>

	<select id="queryNodeColumnName" resultType="java.lang.String">
		SELECT `value`
		FROM
		zt_sys_dict
		WHERE `code` = 'nodeColumn' AND
		`parentValue` =
		#{parentValue}
	</select>

	<select id="queryMoney" resultType="java.lang.String">
		SELECT SUM(${column})
		FROM ${tableName}
	</select>

</mapper>