<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhitu.sq.dataset.mapper.SinglePointMapper">


	<select id="queryRootSinglePoint" resultType="java.lang.String">
		SELECT `value`
		FROM
		zt_sys_dict
		WHERE code = 'rootSinglePoint'
	</select>

	<select id="queryProcessNodeText" resultType="zhitu.sq.dataset.controller.vo.SuspendDetail">
		SELECT `value` AS `name`
		FROM
		zt_sys_dict
		WHERE code = 'processNode' AND parentValue = '00'
	</select>


</mapper>